.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.wrapper button{
    
}
.accordian{
    width: 500px;
}
.item{
    background: rgb(202, 138, 56);
    margin-bottom: 10px;
    padding: 10px 20px;
}
.title{
    color: rgb(142, 229, 242);
    display: flex;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
}
.content{
    color: aliceblue;
    height: auto;
}